<!DOCTYPE html>

<html>
    <head>
        <title>Menu - Starters</title>
        <link rel="stylesheet" href="css_style.css">
        <script src="https://kit.fontawesome.com/17c6375e36.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--menu selection-->
        <div class="selectiontype">
            <button id="selected" class="select">
                Starters
            </button>
            <button class="select">
                <a href="menu_main_course.html">Main Course</a>
            </button>
            <button class="select">
                <a href="menu_beverages.html">Beverages</a>
            </button>
        </div>

        <!--Menu Items-->
        <br>
        <br>
        <br>
        <br>
        <!--Crispy-->
        <h2>CRISPY</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Salads-->
        <h2>SALADS</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Soups-->
        <h2>SOUPS</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
    </body>
</html>