<!DOCTYPE html>

<html>
    <head>
        <title>Menu - Beverages</title>
        <link rel="stylesheet" href="css_style.css">
        <script src="https://kit.fontawesome.com/17c6375e36.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--menu selection-->
        <div class="selectiontype">
            <button class="select">
                <a href="menu_starters.html">Starters</a>
            </button>
            <button class="select">
                <a href="menu_main_course.html">Main Course</a>
            </button>
            <button id="selected" class="select">
                Beverages
            </button>
        </div>

        <!--Menu Item-->
        <br>
        <br>
        <br>
        <br>
        <!--Alcoholic-->
        <h2>ALCOHOLIC</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Non-Alcoholic-->
        <h2>NON-ALCOHOLIC</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
    </body>
</html>