<!DOCTYPE html>

<html>
    <head>
        <title>Menu - Main Course</title>
        <link rel="stylesheet" href="css_style.css">
        <script src="https://kit.fontawesome.com/17c6375e36.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--menu selection-->
        <div class="selectiontype">
            <button class="select">
                <a href="menu_starters.html">Starters</a>
            </button>
            <button id="selected" class="select">
                Main Course
            </button>
            <button class="select">
                <a href="menu_beverages.html">Beverages</a>
            </button>
        </div>

        <!--Menu Items-->
        <br>
        <br>
        <br>
        <br>
        <!--Fried-->
        <h2>FRIED</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Hot & Savory-->
        <h2>HOT & SAVORY</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Escale Signature Dishes-->
        <h2>ESCALE SIGNATURE DISHES</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Grill-->
        <h2>GRILL</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Sea food-->
        <h2>SEA FOOD</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Vegetarian-->
        <h2>VEGETARIAN</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
    </body>
</html>