{% extends "base.html" %}
{% load static %}
{% block title %}Review | Escale Cuisine{% endblock %}

{% block content %}

<div class="w-full" style="background-color: #FFE4D3;">
    
    <section aria-label="Review hero" class="w-full -mt-[calc(5rem+1px)] bg-gradient-to-r from-[#f65e00] to-[#ff3737]" style="background: linear-gradient(90deg,#f65e00 0%,#ff3737 100%);">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-[calc(5rem+1px)] py-8 md:py-20">
            <div class="flex flex-col items-center justify-center text-center gap-1">
                <h1 class="mt-12 sm:text-4xl md:text-5xl lg:text-6xl font-bold text-white leading-tight">Review</h1>
                <p class="mt-0.5 text-sm sm:text-base md:text-lg text-white max-w-xxl mx-auto md:mx-0">
                        Share your experience at Escale Cuisine &amp; Grill
                    </p>
            </div>
        </div>
    </section>

    <div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">

{% endblock %}