{% extends "base.html" %}
{% load static %}
{% block title %}Main Course | Escale{% endblock %}
{% block content %}

<!DOCTYPE html>

<html>
    <head>
        <title>Menu - Main Course</title>
        <link rel="stylesheet" href="css_style.css">
        <script src="https://kit.fontawesome.com/17c6375e36.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--menu selection-->
        <div class="selectiontype">
            <button class="select">
                <a href="menu_starters.html">Starters</a>
            </button>
            <button id="selected" class="select">
                Main Course
            </button>
            <button class="select">
                <a href="menu_beverages.html">Beverages</a>
            </button>
        </div>

        <!--Menu Items-->
        <br>
        <br>
        <br>
        <br>
        <!--Fried-->
        <h2>FRIED</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\fried\friednoodleschick.jpg">
                    <p style="color: rgb(255, 102, 46);">Fried Noodles</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\fried\friedricechick.jpg">
                    <p style="color: rgb(255, 102, 46);">Fried Rice</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Hot & Savory-->
        <h2>HOT & SAVORY</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\hot & savory\magicbowl.jpg">
                    <p style="color: rgb(255, 102, 46);">Magic Bowl</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\hot & savory\stirfrychick.jpg">
                    <p style="color: rgb(255, 102, 46);">Stirred Fried Chicken</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Escale Signature Dishes-->
        <h2>ESCALE SIGNATURE DISHES</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\escalespecial\currychick.jpg">
                    <p style="color: rgb(255, 102, 46);">Chicken Curry</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\escalespecial\sizzlelamb.jpg">
                    <p style="color: rgb(255, 102, 46);">Sizzling Lamb</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\escalespecial\vindaye.jpg">
                    <p style="color: rgb(255, 102, 46);">Vindaye</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Grill-->
        <h2>GRILL</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\grill\grilledcalam.jpg">
                    <p style="color: rgb(255, 102, 46);">Grilled Calamari</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\grill\grilledchick.jpg">
                    <p style="color: rgb(255, 102, 46);">Grilled Chicken</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\grill\grilledfish.jpg">
                    <p style="color: rgb(255, 102, 46);">Grilled Fish Fillet</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\grill\grilledgambas.jpg">
                    <p style="color: rgb(255, 102, 46);">Grilled Gambas</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\grill\grilledlamb.jpg">
                    <p style="color: rgb(255, 102, 46);">Grilled Lamb</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\grill\grilledlobster.jpg">
                    <p style="color: rgb(255, 102, 46);">Grilled Lobster</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\grill\grilledocto.jpg">
                    <p style="color: rgb(255, 102, 46);">Grilled Octopus</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\grill\grilledwholefish.jpg">
                    <p style="color: rgb(255, 102, 46);">Grilled Fish and Chips</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\grill\seafoodplatter.jpg">
                    <p style="color: rgb(255, 102, 46);">Seafood Platter</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\grill\shrimpskewers.jpg">
                    <p style="color: rgb(255, 102, 46);">Shrimp Skewers</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Sea food-->
        <h2>SEA FOOD</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\seafood\buttergarlicprawn.jpg">
                    <p style="color: rgb(255, 102, 46);">Butter Garlic Prawn</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\seafood\prawnchopsuey.jpg">
                    <p style="color: rgb(255, 102, 46);">Prawn Chop Suey</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\seafood\stirfrycalam.jpg">
                    <p style="color: rgb(255, 102, 46);">Stirred Fried Calamari</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\seafood\sweetsourcalam.jpg">
                    <p style="color: rgb(255, 102, 46);">Sweet and Sour Calamari</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\seafood\sweetsourprawn.jpg">
                    <p style="color: rgb(255, 102, 46);">Sweet and Sour Prawn</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\seafood\tamarindshrimp.jpg">
                    <p style="color: rgb(255, 102, 46);">Tamarind Shrimp</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\seafood\thaicalam.jpg">
                    <p style="color: rgb(255, 102, 46);">Thai Calamari</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Vegetarian-->
        <h2>VEGETARIAN</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\veg\friednoodlesveg.jpg">
                    <p style="color: rgb(255, 102, 46);">Vegetarian Fried Noodles</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\veg\friedriceveg.jpg">
                    <p style="color: rgb(255, 102, 46);">Vegetarian Fried Rice</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\veg\magicbveg.jpg">
                    <p style="color: rgb(255, 102, 46);">Vegetarian Magic Bowl</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\veg\mixvegcurry.jpg">
                    <p style="color: rgb(255, 102, 46);">Vegetarian Curry Mix</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Main Course\veg\stirfryveg.jpg">
                    <p style="color: rgb(255, 102, 46);">Stirred Fried Vegetables</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
    </body>
</html>

{% endblock %}