{% extends "base.html" %}
{% load static %}
{% block title %}Starters | Escale{% endblock %}
{% block content %}

<!DOCTYPE html>

<html>
    <head>
        <title>Menu - Starters</title>
        <link rel="stylesheet" href="{% static 'css/css_style.css' %}">
        <script src="https://kit.fontawesome.com/17c6375e36.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--menu selection-->
        <div class="selectiontype">
            <button id="selected" class="select">
                Starters
            </button>
            <button class="select">
                <a href="{% url 'menu:menu_main_course' %}">Main Course</a>
            </button>
            <button class="select">
                <a href="{% url 'menu:menu_beverages' %}">Beverages</a>
            </button>
        </div>
        
        <!--Menu Items-->
        <br>
        <br>
        <br>
        <br>
        <!--Crispy-->
        <h2>CRISPY</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Crispy\chicken_crispy.jpg">
                    <p style="color: rgb(255, 102, 46);">Crispy Chicken</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Crispy\crispy_calamari.jpg">
                    <p style="color: rgb(255, 102, 46);">Crispy Calamari</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Crispy\crispy_prawns.jpg">
                    <p style="color: rgb(255, 102, 46);">Crispy Prawns</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Crispy\fish.jpg">
                    <p style="color: rgb(255, 102, 46);">Crispy Fish</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Crispy\saffron_octo.jpg">
                    <p style="color: rgb(255, 102, 46);">Saffron Octopus</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Crispy\samosas.jpg">
                    <p style="color: rgb(255, 102, 46);">Samosas</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Crispy\taro_fritters.jpg">
                    <p style="color: rgb(255, 102, 46);">Taro Fritters</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Crispy\frenchfries.jpg">
                    <p style="color: rgb(255, 102, 46);">French Fries</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Salads-->
        <h2>SALADS</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\salads\smokedmarlin.jpg">
                    <p style="color: rgb(255, 102, 46);">Marlin Salad</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\salads\mixedsalad.jpg">
                    <p style="color: rgb(255, 102, 46);">Mixed Salad</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\salads\octopus.png">
                    <p style="color: rgb(255, 102, 46);">Octopus Salad</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\salads\seafood.png">
                    <p style="color: rgb(255, 102, 46);">Seafood Salad</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Soups-->
        <h2>SOUPS</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Soups\chinese.png">
                    <p style="color: rgb(255, 102, 46);">Chinese Soup</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Soups\cornsoup.jpg">
                    <p style="color: rgb(255, 102, 46);">Corn Soup</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Soups\Crab.png">
                    <p style="color: rgb(255, 102, 46);">Crab Soup</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Soups\mushroom.png">
                    <p style="color: rgb(255, 102, 46);">Mushroom Soup</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Soups\Seafood Bisque.png">
                    <p style="color: rgb(255, 102, 46);">Seafood Bisque</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src="Menu\Starters\Soups\veggie.png">
                    <p style="color: rgb(255, 102, 46);">Veggie Soup</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
    </body>
</html>

{% endblock %}