{% extends "base.html" %}
{% load static %}
{% block title %}Beverages | Escale{% endblock %}
{% block content %}
<h2>Beverages</h2>
<p>Enjoy refreshing drinks and cocktails.</p>
<svg id="sidebararrow"
  width="25"
  height="172"
  viewBox="0 0 25 172"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class="w-[25px] h-[172px]"
  preserveAspectRatio="none"
>
  <rect opacity="0.88" width="25" height="172" rx="8" fill="#D9D9D9"></rect>
  <path
    d="M7.825 87L13.425 92.6L12 94L4 86L12 78L13.425 79.4L7.825 85H20V87H7.825Z"
    fill="#1D1B20"
  ></path>
</svg>
{% endblock %}