{% extends "base.html" %}
{% load static %}
{% block title %}Beverages | Escale{% endblock %}
{% block content %}

<!DOCTYPE html>

<html>
    <head>
        <title>Menu - Beverages</title>
        <link rel="stylesheet" href="{% static 'css/css_style.css' %}">
        <script src="https://kit.fontawesome.com/17c6375e36.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--menu selection-->
        <div class="selectiontype">
            <button class="select">
                <a href="{% url 'menu:menu_starters' %}">Starters</a>
            </button>
            <button class="select">
                <a href="{% url 'menu:menu_main_course' %}">Main Course</a>
            </button>
            <button id="selected" class="select">
                Beverages
            </button>
        </div>

        <!--Menu Item-->
        <br>
        <br>
        <br>
        <br>
        <!--Alcoholic-->
        <h2>ALCOHOLIC</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\alcoholic\largebeer.jpg>
                    <p style="color: rgb(255, 102, 46);">Large Beer</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\alcoholic\mojito.jpg>
                    <p style="color: rgb(255, 102, 46);">Mojito</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\alcoholic\planteur.jpg>
                    <p style="color: rgb(255, 102, 46);">Planteur</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\alcoholic\rhum.jpg>
                    <p style="color: rgb(255, 102, 46);">Rhum</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\alcoholic\shandy.jpg>
                    <p style="color: rgb(255, 102, 46);">Shandy</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\alcoholic\smolbeer.jpg>
                    <p style="color: rgb(255, 102, 46);">Small Beer</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\alcoholic\ti_punch.jpg>
                    <p style="color: rgb(255, 102, 46);">Ti' Punch</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\alcoholic\whiskey_redlabel.jpg>
                    <p style="color: rgb(255, 102, 46);">Red Label</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\alcoholic\wine.jpg>
                    <p style="color: rgb(255, 102, 46);">Wine</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Non-Alcoholic-->
        <h2>NON-ALCOHOLIC</h2>
        <div class="line"></div>
        <div class="container">
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\nonalcoholic\appletiser.jpg>
                    <p style="color: rgb(255, 102, 46);">Appletiser</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\nonalcoholic\coke.jpg>
                    <p style="color: rgb(255, 102, 46);">Coke</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\nonalcoholic\fanta.jpg>
                    <p style="color: rgb(255, 102, 46);">Fanta</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\nonalcoholic\fuzetea.jpg>
                    <p style="color: rgb(255, 102, 46);">Fuze Tea</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\nonalcoholic\grapetiser.jpg>
                    <p style="color: rgb(255, 102, 46);">Grapetiser</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\nonalcoholic\pearona.jpg>
                    <p style="color: rgb(255, 102, 46);">Pearona</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\nonalcoholic\sparkwater.jpg>
                    <p style="color: rgb(255, 102, 46);">Sparkling Water</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\nonalcoholic\sprite.jpg>
                    <p style="color: rgb(255, 102, 46);">Sprite</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\nonalcoholic\gingerale.jpg>
                    <p style="color: rgb(255, 102, 46);">Ginger Ale</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
            <div class="menuitem">
                <div class="content">
                    <img src=Menu\Beverages\nonalcoholic\water.jpg>
                    <p style="color: rgb(255, 102, 46);">Water</p>
                    <p style="color: grey;">Rs 120</p>
                </div>
                <button id="ordernow">Order Now</button>
            </div>
        </div>
    </body>
</html>

{% endblock %}