body {
    background-color: #F9FAFB;
    margin: 0px;
    margin-bottom: 50px;
}
button a {
  color: black;
  text-decoration: none;
}
button a:hover {
  color: rgb(255, 102, 46);
}
h2 {
    color: rgb(255, 102, 46);
    font-family: sans-serif;
    margin-left: 70px;
}



/*ORDER*/
#title {
    color: white;
    text-align: center;
    background: linear-gradient(to right, orange, red);
    padding: 5px;
    font-family: sans-serif;
    box-shadow: 0px 2px 5px grey;
}
#ordertype {
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 150px;
    text-align: left;
    width: 710px;
    height: 160px;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
}
#chosentype{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 50px;
    width: 200px;
    float: left;
}
#popularitems {
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 150px;
    width: 710px;
    height: 710px;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
}
#popularitems button:hover {
    text-decoration: underline;
}
#menubutton {
    border-color: #F65E00;
    color: #F65E00;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    float: right;
    margin-right: 15px;
}



/*MENU*/
img{
    width: 384px;
    height: 256px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}
.selectiontype {
    margin-top: 30px;
    margin-left: 600px;
    gap: 50px;
}
.select {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 50px;
    width: 200px;
    float: left;
    margin-right: 50px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.menuitem {
    width: 384px;
    height: 452px;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 71px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}
.content {
    flex-grow: 1;
}
.line {
    width: auto;
    height: 2px;
    background-color: lightgrey;
    margin-left: 70px;
    margin-right: 70px;
}
#selected {
    background: linear-gradient(to right, orange, orangered);
    color: white;
}
#ordernow {
    align-self: center;
    color: white;
    background: linear-gradient(to right, orange, orangered);
    width: 350px;
    height: 30px;
    border:none;
    border-radius: 20px;
    cursor: pointer;
}
#ordernow:hover {
    background: rgb(255, 0, 76);
}


